/* Define colors*/
:root {
    --primary: #F5F7F8;
    --secondary: #F4CE14;
    --accent: #495E57;
    --text: #45474B;
}

body {
    background-color: var(--primary);
    color: var(--text);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-align: left;
    line-height: 2;
    font-size: 1em;
    margin: 0;
}
h1, h2, h3, h4 {
    color: var(--accent);
}
img {
    width: 100%;
    height: 100%;
}
td {
    background-color: var(--primary);
}
.container {
    padding: 2% 15%;
}
#header, #footer {
    background-color: var(--secondary);
    text-align: center;
}
.labels {
    font-weight: bold;
}
.forms div{
    margin: 1% auto;
}
.messages {
    font-weight: bold;
    color: darkred;
}