{% extends "base.html" %}

{% block title %}Extract colors{% endblock %}

{% block header %}Extract colors from image{% endblock %}

{% block content %}
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <div class="messages">{{ message }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    {% if file %}
        <div class="forms">
            <img src="{{ file }}" alt="uploaded image">
        </div>
    {% endif %}
    {% if most_common %}
    <table class="table">
    <thead>
        <tr>
            <th>Color</th>
            <th>Hex code</th>
            <th>Percentage</th>
        </tr>
    </thead>
    <tbody>
    {% for color in most_common %}
        <tr>
            <td style="background-color: {{ color[0] }}"></td>
            <td>{{ color[0] }}</td>
            <td>{{ color[1] }}</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
    {% endif %}
        <form method=post enctype=multipart/form-data class="forms">
            <div class="labels">Upload file</div>
            <div><input type=file name=file class="form-control"></div>
            <div class="labels"><label for="number">Choose a car:</label></div>
            <div>
                <select name="number" id="number" class="form-select">
                  <option value="20">20</option>
                  <option value="35">35</option>
                  <option value="50">50</option>
                  <option value="100">100</option>
                </select>
            </div>
            <div><input type=submit value=Submit class="btn btn-secondary"></div>
        </form>
{% endblock %}
